<div class='row'>
    <div class='col'>
        <h1>Texto</h1>
        <hr>

        <div *ngIf='mostrar' class="card text-white bg-danger mb-3" style="width:100%;">
            <div class="card-body">
                <h5 class="card-title">{{texto.autor}}</h5>
                <p class="card-text">{{texto.mensaje}}</p>
            </div>
        </div>
        <button (click)='mostrar=!mostrar' class='btn btn-outline-primary btn-block btn-lg'>Mostrar/ocultar</button>
    </div>
    <div class='col'>
        <h1> Frases de Socrate</h1>
        <hr>
        <div *ngIf='mostrar1'>
            <ul class="list-group">
                <li *ngFor='let frases of frase, let i= index' class="list-group-item list-group-item-action active">
                    {{i+1}} {{frases}}
                </li>
            </ul>
        </div>
        <button (click)='mostrar1=!mostrar1' class='btn btn-outline-danger btn-block btn-lg'>Mostrar/ocultar</button>
    </div>
</div>